@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mouse Memoirs", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-line {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 5s linear forwards infinite;
  font-size: 2.5em;
}
.text-line text {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
